#files
~*.*
*.aux
*.class
*.classpath
*.project
*.iml
.idea/**/*.xml
.idea/*.xml
*.log
*.gz
*.aux
__*.tex
*.synctex*
log.txt
*.toc
docker/_secrets.sh

#folders
.app/
.files/
.idea/
.gradle/
.settings/
.vscode/

app/out/
app/build/
bin/
build/
classes/
docs/javadoc/
classes/
