@font-face {
  /**font-family: 'Press Start 2P';**/
  /**src: url('../PressStart2P-Regular.ttf');**/
  /**font-family: 'VT323';
  src: url('../VT323-Regular.ttf');**/
  font-family: "PxPlus IBM VGA9";
  src: url('../PxPlus_IBM_VGA9.ttf');


}

.root {
  -fx-background-color: #07152b;
  -fx-font-family: "PxPlus IBM VGA9";
  -fx-font-size: 20px;
}

.hide {
  -fx-font-scale: 2;
}

.label {
  -fx-text-fill: #59FF00;
  -fx-background-color: black;
}

.button{
  -fx-font-family: "PxPlus IBM VGA9";
  -fx-font-size: 16px;
  -fx-text-fill: #59FF00;
}

.button:hover{
  -fx-cursor: hand;
}

#chatBox {
  -fx-background-color: black;
}

.vbox {
  -fx-background-insets: 0;
  -fx-background-color: black;
  -fx-text-fill: #59FF00;
}

.vbox .content {
  -fx-background-color: black;
  -fx-background-radius: 0 ;
  -fx-text-fill: #59FF00;
}

.vbox:focused .content {
  -fx-background-color: black;
}


.text-field {
  -fx-background-color: transparent;
  -fx-text-fill: #59FF00;
}

.scroll-bar{
  -fx-background-color: transparent;
}

.scroll-pane{
  -fx-background-color: black;
}

.scroll-pane .scroll-bar:horizontal .thumb,
.scroll-pane .scroll-bar:vertical .thumb
{
  -fx-background-color: #59FF00;
  -fx-background-insets: 2, 0, 0;
}

.scroll-pane .increment-button,
.scroll-pane .decrement-button{
  -fx-background-radius: 0em;
  -fx-padding:0 0 10 0;
}

.scroll-pane .increment-arrow,
.scroll-pane .decrement-arrow{
  -fx-background-color: #59FF00;
  -fx-shape: " ";
  -fx-padding:0;
}

.button {
  -fx-background-color: transparent;
  -fx-border-color: #59FF00;
  -fx-border-width: 2px;
  -fx-border-radius: 4px;
}

